/* Add CSS Styling */
.background-font{
    background-color: rgb(255 120 130/ 90%);
    font-family: "Verdana", "DejaVu Sans", "Sans-serif";
}

#number-two{
    color: rgba(1, 77, 255, 80.3%);
    font-size: 36px;
}

#size-three{
    font-size: 24px;
}

#four-background{
    background-color: rgb(0, 255, 94, 78.6%);
    font-weight: bold;
    font-size: 24px;
}